
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Sabz Infra Solution Pvt. Ltd</title>
    <link rel="stylesheet" media="screen and  (max-width:500px)" href="../css/mobile/projects.css">
    <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width:768px)" href="../css/tablet/projects.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1200px)" href="../css/normal/projects.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)" href="../css/widescreen/projects.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<!------------------------------------------------------------NAVBAR STARTS---------------------------------------------------------->
<nav id="navBar">
        <div class="logoBg">
            <img src="" alt="">
            <h2 class="logo"><span style="font-family:avenir-lt-w01_85-heavy1475544, sans-serif;font-stretch:100% ;letter-spacing: 1px; font-weight: 400;">SABZ INFRA</span><br/>SOLUTION PVT LTD</h2>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" name="" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="../index.html" style="color: #fff !important ;">HOME</a></li>
                            <li class="company"><a href="./aboutCompany.html">COMPANY</a></li>
                            <li><a href="./projects.html">PROJECTS</a></li>
                            <li><a href="./award.html">AWARDS</a></li>
                            <li><a href="./gallery.html">PROJECT GALLERY</a></li>
                            <li><a href="./career.html">CAREER</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="../index.html" style="color: #fff !important ;">HOME</a></li>
                <li class="company"><a href="./aboutCompany.html">COMPANY</a></li>
                <li><a href="./projects.html">PROJECTS</a></li>
                <li><a href="./award.html">AWARDS</a></li>
                <li><a href="./gallery.html">PROJECT GALLERY</a></li>
                <li><a href="./career.html">CAREER</a></li>
            </ul>
        </div>
        <div class="login"><a href="./login.html"><i class="fas fa-lock"></i></a></div>
    </nav>
    

<!------------------------------------------------------------NAVBAR STARTS---------------------------------------------------------->
<!------------------------------------------------------------BACKGROUND STARTS---------------------------------------------------------->
<!------------------------------------------------------------BACKGROUND STARTS---------------------------------------------------------->
    <main id="viewPort">
        <video playsinline autoplay muted loop poster="../resource/images/construction-1491693.jpg" id="bgvid">
            <source src="../resource/videos/completed.webm" type="video/webm">
            <source src="../resource/videos/completed.mp4" type="video/mp4">
        </video>     
        <img class="img1" src="../resource/images/architecture-buildings-business-190417 (1).jpg" alt="">
        <img class="img2" src="../resource/images/construction-1491693.jpg" alt="">
        <div class="viewPortHeader">
            <h1>
                COMPLETED PROJECTS
            </h1>        
        </div>
    </main>
<!------------------------------------------------------------BACKGROUND ENDS---------------------------------------------------------->
    <section id="nav">
        <div class="container">
            <div class="item-1 item"style="cursor:pointer;" onclick="document.location='../view/completedProject.html'"><h1><a href="../view/completedProject.html">COMPLETED PROJECTS</a></h1></div>
            <div class="item-2 item"style="cursor:pointer;" onclick="document.location='../view/currentProject.html'"><h1><a href="../view/currentProject.html">ON GOING PROJECTS</a></h1></div>
        </div>
    </section>
    <section id="container">
        <div class="items">
            <div class="item">
                <div class="projectPhoto">
                    <img src="../resource/images/projects/3.jpg" alt="">
                </div>
                <div class="description">
                    <div class="info">
                        <div><h1>OWNER</h1></div>
                        <div><p>Owner Name</p></div>
                    </div>
                    <div class="info">
                        <div><h1>Project name</h1></div>
                        <div><p>I'm Project</p></div>
                    </div>
                    <div class="info">
                        <div><h1>Project cost</h1></div>
                        <div><p>10000000</p></div>
                    </div>
                    <div class="info">
                        <div><h1>SCOPE OF WORK</h1></div>
                        <div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, consequuntur qui accusamus veritatis ratione repudiandae ipsam odit dolorum veniam consequatur possimus quasi ipsa tempore atque porro error aliquam, fugiat alias?</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="nav">
        <div class="container">
            <div class="item-1 item"style="cursor:pointer;" onclick="document.location='../view/completedProject.html'"><h1><a href="../view/completedProject.html">COMPLETED PROJECTS</a></h1></div>
            <div class="item-2 item"style="cursor:pointer;" onclick="document.location='../view/currentProject.html'"><h1><a href="../view/currentProject.html">ON GOING PROJECTS</a></h1></div>
        </div>
    </section>
    <footer>
            <p>&copy; 2019 by SABZ INFRA SOLUTION PVT LTD. Made with  <span style="color: rgb(238,209,0);">&hearts;</span></p>
    </footer>
</body>
</html>