
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Sabz Infra Solution Pvt. Ltd</title>
    <link rel="stylesheet" media="screen and  (max-width:500px)" href="../css/mobile/login.css">
    <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width:768px)" href="../css/tablet/login.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1200px)" href="../css/normal/login.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)" href="../css/widescreen/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="../js/loginValidation.js"></script>
</head>
<body id="home">
<!------------------------------------------------------------NAVBAR STARTS---------------------------------------------------------->
<nav id="navBar">
        <div class="logoBg">
            <img src="" alt="">
            <h2 class="logo"><span style="font-family:avenir-lt-w01_85-heavy1475544, sans-serif;font-stretch:100% ;letter-spacing: 1px; font-weight: 400;">SABZ INFRA</span><br/>SOLUTION PVT LTD</h2>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" name="" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a href="../index.html" style="color: #fff !important ;">HOME</a></li>
                            <li class="company"><a href="./aboutCompany.html">COMPANY</a></li>
                            <li><a href="./projects.html">PROJECTS</a></li>
                            <li><a href="./award.html">AWARDS</a></li>
                            <li><a href="./gallery.html">PROJECT GALLERY</a></li>
                            <li><a href="./career.html">CAREER</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="../index.html" style="color: #fff !important ;">HOME</a></li>
                <li class="company"><a href="./aboutCompany.html">COMPANY</a></li>
                <li><a href="./projects.html">PROJECTS</a></li>
                <li><a href="./award.html">AWARDS</a></li>
                <li><a href="./gallery.html">PROJECT GALLERY</a></li>
                <li><a href="./career.html">CAREER</a></li>
            </ul>
        </div>
        <div class="login"><a href="./login.html"><i class="fas fa-lock"></i></a></div>
    </nav>
    
<!------------------------------------------------------------NAVBAR ENDS---------------------------------------------------------->
    <section id="login">
        <div class="container">
            <div class="logoImage"><img src="../resource/images/logo.jpg" alt="logo"></div>
            <div class="loginForm">
                <form method="POST" action="./admin.html">
                    <input type="email" placeholder="Email" id="email" name="email"required>
                    <input type="password" id="pass" placeholder="Password" name="password" required>
                    
                    <button type="submit" name="loginn">LOGIN</button>
                </form>
            </div>
        </div>
    </section>
        <footer>
                <p>&copy; 2019 by SABZ INFRA SOLUTION PVT LTD. Made with  <span style="color: rgb(238,209,0);">&hearts;</span></p>
        </footer>
</body>
</html>